#tabs {
  margin: 40px auto;
  padding: 0 0 15px;
  float: none;
  width: 500px;
  text-align: justify;

  &:after {
    content: '';
    width: 100%;
    display: inline-block;
  }

  > li {
    padding: 15px 0;
    display: inline-block;
    list-style: none;
    width: 100%;
    cursor: pointer;
    border-top: 2px solid #d4d4d4;
    border-bottom: none;

    &.active {
      border-top: 2px solid red;
    }

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }

    p {
      position: relative;
      display: inline-block;
      margin: 10px 0 -5px;
      padding: 0 15px 15px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      color: gray;
      text-align: initial;

      &.active {
        position: relative;
        margin-bottom: 0;
        color: #7d7b7b;

        &:after, &:before {
          position: absolute;
          top: 100%;
          left: 50%;
          display: none;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          pointer-events: none;
        }

        &:after {
          top: 98%;
          margin-left: -6px;
          border-color: rgba(255, 255, 255, 0);
          border-top-color: #fff;
          border-width: 8px;
        }

        &:before {
          margin-left: -8px;
          border-color: rgba(230, 30, 42, 0);
          border-top-color: red;
          border-width: 10px;
        }
      }
    }
  }
  section {
    padding: 0 15px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    cursor: default;
    @include transition(opacity .6s ease-in);
    @include bp(1200px) {
      float: left;
    }

    &.is-open {
      max-height: 500px;
      width: auto;
      opacity: 1;
      @include transition(opacity .6s ease-out);
      @include bp(1200px) {
        margin-bottom: 25px;
        padding: 0;
        min-height: 250px;
        width: 100%;
        text-align: center;
      }
    }

    h3 {
      margin-bottom: 15px;
      display: block;
      color: gray;
      font-weight: 700;
      text-transform: none;
     }

    p {
      margin: 0;
      padding-left: 0;
      color: gray;
      font-size: 14px;
      line-height: 1.75;
      font-weight: 300;
      text-transform: none;
      @include bp(1200px) {
        width: 66%;
      }
      &:empty {
        display: none;
      }
    }

    ul {
      list-style-type: disc;
      @include bp(1200px) {
        padding-left: 23%;
      }
    }

    li {
      @extend li;
      margin: 0;
      width: 100%;
      display: list-item;
    }
  }
}

@media (min-width: 1200px) {
  #tabs {
    margin-top: 60px;

    > li {
      display: inline;
      margin-bottom:  40px;
      border-top: none;
      border-bottom: 2px solid #d4d4d4;

      &.active {
        border-top: none;
      }

      p {
        margin: 1em 0;
        padding-left: 0;
        padding-right: 0;
        font-size: 13px;

        &.active {
          padding-bottom: 16px;
          color: red;
          border-bottom: 2px solid red;

          &:after, &:before {
            display: block;
          }
        }
      }
    }
  }
}
