<ul class="tabs">
  <li class="tab active">
    <p class="active tab-title">Tab 1</p>

    <section class="is-current">
      <h3 class="section-title">Tab Title 1</h3>
      <p class="section-description">Tab Description 1</p>
    </section>
  </li> <!-- .tab -->

  <li class="tab">
    <p class="tab-title">Tab 2</p>

    <section>
      <h3 class="section-title">Tab Title 2</h3>
      <p class="section-description">Tab Description 2</p>
    </section>
  </li> <!-- .tab -->

  <li class="tab">
    <p class="tab-title">Tab 3</p>

    <section>
      <h3 class="section-title">Tab Title 3</h3>
      <p class="section-description">Tab Description 3</p>
    </section>
  </li> <!-- .tab -->
</ul> <!-- #tabs -->
