<div class="faqs">
	<div class="faq-item">
		<input type="checkbox" name="faq-item" id="faq-item-1">
		<label for="faq-item-1">Question 1</label>
		<section id="faq-item-content-1">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae molestias magnam inventore nisi odit harum, est ipsam veritatis sapiente repellendus maiores sunt vitae voluptas. Dolor?</p>
		</section>
  </div> <!-- .faq-item -->

  <div class="faq-item">
    <input type="checkbox" name="faq-item" id="faq-item-2">
    <label for="faq-item-2">Question 2</label>
    <section id="faq-item-content-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae molestias magnam inventore nisi odit harum, est ipsam veritatis sapiente repellendus maiores sunt vitae voluptas. Dolor?</p>
    </section>
  </div> <!-- .faq-item -->

  <div class="faq-item">
    <input type="checkbox" name="faq-item" id="faq-item-3">
    <label for="faq-item-3">Question 3</label>
    <section id="faq-item-content-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae molestias magnam inventore nisi odit harum, est ipsam veritatis sapiente repellendus maiores sunt vitae voluptas. Dolor?</p>
    </section>
  </div> <!-- .faq-item -->
</div> <!-- .faqs -->
